requests
nltk
jsonlines
grpcio
grpcio-tools
penman
fuzzywuzzy
networkx
spacy
neuralcoref
gensim
protobuf
tqdm
yaml

numpy
python-Levenshtein
flask
matplotlib
graphviz
ipykernel
SPARQLWrapper
ipdb
pyyaml
notebook
autoflake
isort
prettytable
